# Gradle
.gradle/
build/

# Local config
local.properties

# Log/OS Files
*.log
.DS_Store

# Android Studio
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/
output-metadata.json

# IntelliJ extra
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Firebase & Google
google-services.json

# Keystore
*.jks
*.keystore

# Profiling
*.hprof
